<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="services.MarquesXmlMapper">


	<resultMap type="Marques" id="MarquesResultMap">
		<id property="marqueID" column="marqueID"/>
		<result property="marques" column="marque"/>
	
	</resultMap>
	
	<select id="AfficheListMarquesVehicules" resultMap="MarquesResultMap" resultType="Marques">
		select * from Marques
	</select>

</mapper>