<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="services.VehiculesXmlMapper">

	<resultMap type="Vehicules" id="VehiculesXmlMapper">
		<id property="no" column="no"/>
		<result property="noSerie" column="noSerie"/>
		<result property="modele" column="modele"/>
		<result property="annee" column="annee"/>
		<result property="prix" column="prix"/>
		<result property="marqueID" column="marqueID"/>
	</resultMap>
	
	<select id="AfficheVehiculesSelonmarqueID" parameterType="int" resultType="Vehicules">
		select * from vehicules where marqueID=#{Id}
	</select>
	

		<insert id="InsererUnVehicule" parameterType="Vehicules" useGeneratedKeys="true" keyProperty="marqueID">
			insert into vehicules (no,noSerie,modele,annee,prix,marqueID) values (#{no},#{noSerie},#{modele},#{annee},#{prix},#{marqueID})
		</insert>
		
		<update id="ModifierUnVehiculer" parameterType="Vehicules">
			UPDATE vehicules SET   no=#{no} ,noSerie =#{noSerie} ,modele =#{modele} ,annee=#{annee} ,prix=#{prix} WHERE no =#{no}
		</update>
		
		<delete id="SupprimerUnVehicule" parameterType="Vehicules">
			delete from vehicules where no=#{no}
		</delete>


	
</mapper>